<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>puskesmas</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  </head>
  <style>
    .mx-auto{
      width: 1250px;
    }
    .card {
      margin-top: 10px;
    }
    .card-footer {
    padding:15px;
    text-align: center;
    margin-top: 100px;
  }
  </style>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#"><h3>PUSKESMAS</h3></a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="index.html">Pasien</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="dokter.html">Dokter</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="antrian.html">Antrian</a>
            </li>
          </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>

    <div id="app">
      <div class="mx-auto">
      <div class="card">
        <div class="card-header text-black">Data Antrian</div>
        <div class="card-body">
          <table class="table table-striped">
            <tr>
                <th>ID</th>
                <th>No Antrian</th>
                <th>ID Dokter</th>
                <th>ID Pasien</th>
                <th>Status</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr v-for="antrian in antrians">
                <td>{{ antrian.id }}</td>
                <td>{{ antrian.noAntrian }}</td>
                <td>{{ antrian.idDokter }}</td>
                <td>{{ antrian.idPasien }}</td>
                <td>{{ antrian.status }}</td>
                <td><button class="btn btn-md btn-warning" v-on:click="getEdit(antrian)">Edit</button></td>
                <td><button class="btn btn-danger" v-on:click="getDelete(antrian)">Delete</button></td>
            </tr>
        </li>
    </table>

    <button class="btn btn-md btn-primary" v-on:click="resetForm()">Buat Pengguna baru </button>
 
    <div v-if="message" class="alert alert-success" role="alert">
        {{ message }}
    </div>
  </div>
</div>
</div>
    
<div class="mx-auto">
  <div class="card">
    <div class="card-header text-black">Masukan Data Antrian Anda</div>
    <div class="card-body">
      <div class="mb-3">
        <label for="noAntrian" class="form-label">No Antrian:</label>
        <input v-model="noAntrian" type="number" class="form-control" id="noAntrian" placeholder="Masukan nomor antrian anda" name="" required>
      </div>

      <div class="mb-3">
        <label for="idDokter" class="form-label">ID Dokter:</label>
        <input v-model="idDokter" type="number" class="form-control" id="idDokter" placeholder="Masukan id dokter" name="" required>
      </div>
      
      <div class="mb-3">
        <label for="idPasien" class="form-label">ID Pasien:</label>
        <input v-model="idPasien" type="number" class="form-control" id="idPasien" placeholder="Masukan id pasien" name="" required>
      </div>
      
      <label for="status">Status :</label>
          <select v-model="status" class="form-select" id="status" name="sellist1">
            <option>VALID</option>
            <option>INVALID</option>
          </select>
      
      
      <hr class="mb-4">
                  <button v-if="!editMode && !deleteMode" v-on:click="createAntrian" class="btn btn-primary btn-lg btn-block" type="submit">Daftar</button>
                  <button v-if="editMode" v-on:click="updateAntrian" class="btn btn-warning btn-lg btn-block" type="submit">Update Data</button>
                  <button v-if="deleteMode" v-on:click="deleteAntrian" class="btn btn-danger btn-lg btn-block" type="submit">Delete Data</button>
                  
                    
    </form>
  </div>
</div>
</div>

    </div>

    
<div class="card-footer text-muted">
  PUSKESMAS WONDERFULL
</div>
      

    <!-- Axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script>
        var app = new Vue ({
            el: '#app',
            data: {
                errors: [],
                message: null,
                antrians:[],
                antrianIdEdit: null,
                antrianIdDelete: null,
                editMode: false,
                deleteMode: false,
                noAntrian: '',
                idDokter: '',
                idPasien: '',
                status: '',
            },
            mounted: function() {
                this.getAntrian();
            },
            methods: {
                getAntrian() {
                    axios.get('https://6215ed5c7428a1d2a35495cb.mockapi.io/antrians')
                        .then(response => {
                            this.antrians = response.data;
                            console.log(response);
                        })
                        .catch(error => {
                            console.log(error);
                        });
                },
                createAntrian: function(){
                    axios.post('https://6215ed5c7428a1d2a35495cb.mockapi.io/antrians', {
                       
                        noAntrian: this.noAntrian,
                        idDokter: this.idDokter,
                        idPasien: this.idPasien,
                        status: this.status,
                    })
                    .then(response => {
                            this.getAntrian();
                            this.message = "Your data has been submitted";
                            console.log(response);
                    })
                    .catch(error => {
                            console.log(error);
                    });
                },
                resetForm: function () {
                    this.message = null;
                    this.editMode = false;
                    this.deleteMode = false;
                    this.antrianIdEdit = null;
                  
                    this.noAntrian = null;
                    this.idDokter = null;
                    this.idPasien = null;
                    this.status = null;
                },
                getEdit: function (antrian) {
                    this.message = null;
                    this.editMode = true;
                    this.deleteMode = false;
                    this.antrianIdEdit = antrian.id;
                    this.noAntrian = antrian.noAntrian;
                    this.idDokter = antrian.idDokter;
                    this.idPasien = antrian.idPasien;
                    this.status = antrian.status;
                },
                getDelete: function (antrian) {
                    this.message = null;
                    this.deleteMode = true;
                    this.editMode = false;
                    this.antrianIdDelete = antrian.id;
                    this.noAntrian = antrian.noAntrian;
                    this.idDokter = antrian.idDokter;
                    this.idPasien = antrian.idPasien;
                    this.status = antrian.status;
                },
                updateAntrian: function () {
                    axios.put(`https://6215ed5c7428a1d2a35495cb.mockapi.io/antrians/${this.antrianIdEdit}`, {
                            
                            noAntrian: this.noAntrian,
                            idDokter: this.idDokter,
                            idPasien: this.idPasien,
                            status: this.status,
                        })
                        .then(res => {
                            // handle success
                            this.message = "Your data has been updated";
                            this.getAntrian();
                        })
                        .catch(err => {
                            // handle error
                            console.log(err);
                        })
                },
                // Delete User
                deleteAntrian: function () {
                    axios.delete(`https://6215ed5c7428a1d2a35495cb.mockapi.io/antrians/${this.antrianIdDelete}`)
                        .then(res => {
                            // handle success
                            this.message = "Your data has been deleted";
                            this.getAntrian();
                        })
                        .catch(err => {
                            // handle error
                            console.log(err);
                        })
                }
            }
        })
        
    </script>
    
  </body>
</html>